// Gradient Animation
.lava-lamp{
  min-width: 850px;
  height: 850px;

  @media all and (max-width: 1600px) {
    min-width: 600px;
    height: 600px;
  }

  @media all and (max-width: 1200px) {
    min-width: 450px;
    height: 450px;
  }

  @media all and (max-width: 576px) {
    min-width: 300px;
    height: 300px;
  }

}

.lava {
  background: linear-gradient(60deg, #FF5E62, #FF9966);
  background-size: 400% 400%;
  animation: GradientBackground 5s ease infinite;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
};

.fauxAstronaut{
  top: 50%;
  left: 50%;
  transform: scale(1.25);
}

#fauxPhone{
  top: 7%;
  left: 15%;
  width: 140px;

  @media all and (max-width: 1600px) {
    width: 100px
  }

  @media all and (max-width: 1200px) {
    width: 75px
  }

  @media all and (max-width: 576px) {
    width: 50px;
  }
}

// Stars Animation
.stars {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  background-size: 200%;
  background-position: right;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -50%;
  display: block;
  z-index: 0;
  @media all and (max-width: 576px) {
    background-size: 150%;
  }
 }