// Custom Personal Styles
.center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-no-translate{
  top: 50%;
  left: 50%;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
}

.sections{
  height: 100%;
}

.hr{
  height: 100%;
  width: 1px;
  border: 1px solid;
}

.square{
  width: 50%;
}

.square:after {
  content: ".";
  display: block;
  padding-bottom: 100%;
}

//Positioning Styles
.t-0{
  top: 0;
}

.b-0{
  bottom: 0;
}

.l-0{
  left: 0;
}

.r-0{
  right: 0;
}

//Custom Positioning Styles
.t-130{
  top: 130px;
}

.b-15{
  bottom: 15px;
}

.b-35{
  bottom: 35px;
}

//Custom Padding Styles
.pt-130{
  padding-top: 130px;
}

.dot{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: $primary-gradient;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0.45;
}

// Overflow Styles
.overflow-x-scroll{
  overflow-x: scroll;
}