//Contianers
.container-xxl{
  max-width: 1320px !important;
}

//Navbar
.navbar-light{
  .navbar-toggler{
    border: none !important;
  }
}

.navbar-collapse{
  @media (min-width: 992px){
    margin-left: -150px;
  }
}

.navbar-brand{
  canvas {
    width: 100%;
    max-width: 100px !important;
    max-height: 100px !important;
    margin: 0 auto;
    display: block;
  }
}

//Jumbotron
.jumbotron {
  padding-top:0px;
  position: relative;
  margin-top: 110px;
  background-color: transparent !important;
  height: 100%;
}