// Custom Personal Styles
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
}

.sections{
  height: 100%;
}

.sections-content{
  height: 500px;
}

//Custom Top Styles
.t-0{
  top: 0;
}

.t-130{
  top: 130px;
}

//Custom Padding Styles
.pt-130{
  padding-top: 130px;
}


//Title Sytles
.title-container{
  position: relative;
  height: 100vh;
  // max-height: 750px;
  h1,h2 {
    text-align: center !important;
    @media only screen and (min-width: 992px){
      text-align: left !important;
    }
  }
}

.title-first{
  font-size: 100px;
  line-height: 0;
  @media only screen and (min-width: 992px){
    font-size: 190px;
  }
}

.title-second{
  font-size: 92px;
  line-height: 0;
  @media only screen and (min-width: 992px){
    font-size: 175px;
    line-height: 100px;
  }
}

.title-caption{
  font-size: 20px; 
  line-height: 0;
  @media only screen and (min-width: 992px){
    font-size: 40px;
  }
}

.clip-svg {
  clip-path: url(#svgClip);
}

//List Styles
.main-list{
  padding: 0px !important;
  li{
    display: block;
    line-height: 1.25;
  }
  span{
    font-family: $secondary-font-stack;
    text-transform: uppercase;
    font-size: 0.75em;
  }
  i{
    vertical-align: middle;
    width: 35px;
  }
}

//Section Sytles

//Coding Sytles
.fauxScreen{
  margin: 0 auto;
  width: 500px;
  height: 280px;
  border-radius: 10px;
  // box-shadow: rgba(64, 62, 61, 0.15) 0px 5px 15px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  box-shadow: rgba(64, 62, 61, 0.15) 0px 5px 15px;
  overflow: hidden;

  .fauxHeader{
    position: relative;
    margin-top: -50px;
    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
    height: 50px;
    background: $primary-gradient;

    i{
      font-size: 28px;
      background: #FFFFFF;
      position: absolute;
      right: 5px;
      top: 5px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .fauxUser{
      position: absolute;
      width: 30px;
      height: 30px;
      right: 10px;
      top: 10px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.51);
      backdrop-filter: blur(5px);
    }
  }

  .fauxImages{
    width: 100%;
    height: 33vh;
    background: $primary-gradient;
    border-radius: 4px;
    max-height: 200px;
    transform: translate(0px, 0px);
    overflow: hidden;

    .fauxImageContent{
      position: relative;

      .fauxSun{
        position: absolute;
        width: 40px;
        height: 40px;
        left: 25px;
        top: 25px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.51);
        backdrop-filter: blur(5px);
      }
      
      .fauxMountains{
        position: absolute;
        top: 74.5px;
        right: -60px;
        width: 100%;

        .fm{
          height: 15px;
          background: rgba(255, 255, 255, 0.51);
        }

        .fmLeft{
          width: 65px;
          border-top-right-radius: 8px;
          transform: translateX(7px) rotate(-45deg);
        }

        .fmRight{
          width: 200px;
          transform: translate(33px, 43.3px) rotate(45deg);
        }
      }
    }
  }

  .fauxText{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background: $secondary-color;
    margin-bottom: 15px;
  }

  .fauxTitle{
    @extend .fauxText;
    width: 75%;
    background: $primary-gradient;
    margin-bottom: 25px;
  }

  .fauxIcons{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: $primary-gradient;
  }
  
}

//Design Sytles

//Main Arc
.designAnimation{
  i{
    height: 30px;
    text-shadow: $primary-text-shadow;
  }
  svg{
    width: 300px;
  }
  path{
    stroke-width: 10;
  }
  path#path2{
    stroke-dasharray: 0 350;
    stroke-dashoffset: -175;
  }
}

.fauxControlHandle{
  display: inline-block;
  margin: 130px auto 0;
  transform-origin: center center;
}

.fauxControlBar{
  width: 350px;
  height: 7px;
  background: $primary-gradient;
  transform: translate(0px, 25px);
}

.fauxControl{
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.fauxControl#controlOne{
  transform: translate(-100px, 12px);
}

.fauxControl#controlTwo{
  transform: translate(100px, -12px);
}

.fauxPoint{
  width: 25px;
  height: 25px;
}

.fauxControlBar,
.fauxControl,
.fauxPoint{
  box-shadow: $primary-box-shadow;
}

.fauxContainer{
  width: 40px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 2px;

  hr{
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 2px solid $primary-color;
  }

  .vr{
    border-width: 2px;
    height: 25px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.fauxDiv{
  width: 100%;
  height: 25px;
  border-width: 4px;
  border-radius: 2px;
}

.fauxDivLeft,.fauxDivRight{
  width: 16px;
  display: inline-block;
}

//Arc Points
#pointAnimationOne{
  width: 150px;
}

#pointAnimationTwo{
  width: 215px;
  height: 80px;

  .fauxBoard{
    width: 60px;
    height: 40px;
    border-width: 4px;

    svg{
      width: 80%;

      path#drawPath{
        stroke-width: 80px;
        stroke-dashoffset: 2000;
        stroke-dasharray: 2000;
      }
    }

    #draw{
      width: 100%;
      path#drawPencil{
        stroke-dashoffset: 0 !important;
        stroke-dasharray: 0 !important;
        stroke-width: 1.5px !important;
        fill: white !important;
      }
    }
  }
}

#pointAnimationThree{
  width: 215px;
  padding-left: 15px;

  .pointTitle span:first-child{
    font-size: .999em;
  }

  .fauxContainer{
    border-width: 4px;
  
    .border-gradient{
      border-width: 4px;
    }
  
    .fauxMobileScreen{
      height: 40px;
    }
  
    .fauxPanel{
      width: 33px;
      height: 12px;
      border-right: none;
      border-left: none;
      border-bottom: none;
  
      .dot{
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-image: $primary-gradient;
      }
    }
    
    .fauxText{
      height: 2px;
      border-radius: 4px;
      background: $primary-color;
    }
  }
}

//Project Styles
.project{
  background: $tertiary-color;
  width: 33%;
  min-width: 320px;
  height: 450px;
  border: 2px solid $secondary-color;
  border-radius: 3px;
  display: inline-block;

  .project-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    i{
      font-size: 5.25em;
    }
  }
  
  .project-title{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
 
}

.project:hover{
  background: $primary-gradient;
  color: $tertiary-color;

  .project-icon{
    i{
      background: $tertiary-color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .project-title{
    color: $tertiary-color;
  }
}