//Main Styles
*{
  font-size: 1em;
  font-family: $primary-font-stack;
  box-sizing: border-box;
}

p{
  font-family: $secondary-font-stack;
  line-height: 1.5;
  font-weight: 500;
}

ul, li{
  @extend p;
  list-style-type: none;
}

i{
  font-size: $size-sm;
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section{
  height: 2500px;
  // @media only screen and (max-width: 992px){
  //   height: 100vh;
  //   // max-height: 750px;
  // }
}

svg {
  overflow: visible;
  width: 100%;
  height: 100%;
  
  /* Fix Safari rendering bug */
  transform: translateZ(0);
}

path{
  stroke-width: 7;
  fill: transparent;
}