//Main Styles
*{
  font-size: 1em;
  font-family: $primary-font-stack;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

p{
  font-family: $secondary-font-stack;
  line-height: 1.5;
  font-weight: 500;
}

ul, li{
  @extend p;
  list-style-type: none;
}


a:hover{
  text-decoration: none;
}

i{
  font-size: $size-sm;
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

i.secondary-color{
  font-size: $size-sm;
  background: $tertiary-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

section{
  height: 2500px;
}

svg {
  overflow: visible;
  width: 100%;
  height: 100%;
  
  /* Fix Safari rendering bug */
  transform: translateZ(0);
}

.vr{
  border-left:1px solid $primary-color;
  display: inline-block;
  height:100%;
}
