//Main Styles
*{
  font-size: 1em;
  font-family: $primary-font-stack;
}

p{
  font-family: $secondary-font-stack;
  line-height: 1.5;
  font-weight: 600;
}

ul, li{
  @extend p;
  list-style-type: none;
}

i{
  font-size: $size-sm;
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
