//Nav Styles
nav{
  background: #FFFFFF;
}

.navbar-light{
  .navbar-toggler{
    border: none !important;
  }
}

.navbar-collapse{
  @media (min-width: 992px){
    margin-left: -150px;
  }
}

.navbar-brand{
  height: 70px;
  canvas {
    width: 100%;
    max-width: 90px !important;
    max-height: 90px !important;
    margin: -15px auto 0;
    display: block;
  }
}

.nav-item{
  color: $primary-color;
  letter-spacing: .480em;
  text-transform: uppercase;
  font-family: $primary-font-stack;
  font-size: 12px;
  font-weight: 700;
  background-color: transparent;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
}
