//Nav Styles
nav{
  background: #FFFFFF;
}

.navbar-light{
  .navbar-toggler{
    border: none !important;
  }
}

.navbar-collapse{
  @media (min-width: 992px){
    margin-left: -150px;
  }
}

.navbar-brand{
  canvas {
    width: 100%;
    max-width: 100px !important;
    max-height: 100px !important;
    margin: 0 auto;
    display: block;
  }
}

.nav-link{
  color: $primary-color;
  letter-spacing: .480em;
  text-transform: uppercase;
  font-family: $primary-font-stack;
  font-size: 12px;
  font-weight: 700;
  background-color: transparent;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 18px;
}

// Old Nav
// .nav-item{
//   color: $primary-color;
//   letter-spacing: .480em;
//   text-transform: uppercase;
//   font-family: $primary-font-stack;
//   font-size: 12px;
//   font-weight: 700;
//   background-color: transparent;
//   text-align: center;
//   padding-top: 20px;
//   padding-bottom: 10px;
//   padding-left: 18px;
// }
