.sections-content{
  top: 50px;
  @media only screen and (min-width: 768px){
    top: 130px;
  }
}

//Title Sytles
.title-container{
  position: relative;
  height: auto;
  // max-height: 750px;
  overflow: hidden;
  h1,h2 {
    text-align: center !important;
    @media only screen and (min-width: 992px){
      text-align: left !important;
    }
  }
  h1{
    font-size: 50px;
    line-height: 2.5rem;
    margin-bottom: 60px;
    @media only screen and (min-width: 992px){
      line-height: 10rem;
      font-size: 180px;
    }
  }
  h2{
    font-size: 32px;
    @media only screen and (min-width: 992px){
      line-height: 5rem;
      font-size: 84px;
    }
    .text, .cursor{
      background: $primary-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  h3{
    font-size: 22px;
    line-height: 1.5rem;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 8px;
    margin: 0 auto;
    width: 310px;
    @media only screen and (min-width: 992px){
      line-height: 3rem;
      font-size: 56px;
      width: 100%;
    }
  }
  @media only screen and (min-width: 992px){
    height: 100vh;
    overflow: visible;
  }
}

.clip-svg {
  clip-path: url(#svgClip);
}

//List Styles
.main-list{
  padding: 0px !important;
  li{
    display: block;
    line-height: 1.25;
  }
  span{
    font-family: $secondary-font-stack;
    text-transform: uppercase;
    font-size: 0.75em;
    @media only screen and (max-width: 578px){
      font-size: 0.55em;
    }
  }
  i{
    vertical-align: middle;
    width: 35px;
  }
}

//Section Sytles
.animation-container{
  @media only screen and (max-width: 992px){
    height: 425px;
    transform: scale(0.8);
    .fade--in{
      transform: scale(1.5);
    }
  }

  @media only screen and (max-width: 578px){
    height: 350px;
    transform: scale(0.6);
  }
}

.faux--screen{
  margin: 0 auto;
  border-radius: 10px;
  background: rgba( 255, 255, 255, 0.45 );
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  // box-shadow: rgba(64, 62, 61, 0.15) 0px 5px 15px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  box-shadow: rgba(64, 62, 61, 0.15) 0px 5px 15px;
  backdrop-filter: blur( 4.0px );
  -webkit-backdrop-filter: blur( 4.0px );
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  overflow: hidden;
}

.activeOption{
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: $secondary-color;
  left: 20px;
  top: 17px;
}

//Coding Sytles
.codingAnimation{

  .faux--screen{
    width: 500px;
    height: 280px;

    .faux--site-content{
      height: calc(100% - 100px);
    }
    
    .faux--header{
      position: relative;
      margin-top: -50px;
      padding-top: 15px;
      padding-left: 15px;
      width: 100%;
      height: 50px;

      .faux--logo{
        width: 100px;
        height: 35px;
        position: absolute;
        top: 7px;
        left: 10px;
      }

      .faux--options{
        left: 115px;
        font-size: 9px;
        color: $secondary-color;
        font-weight: 600;

        i{
          font-size: 1rem;
        }
      }
    }

    .faux--options.faux--functions{
      left: unset;
      right: 15px;
      top: 15px;
  
      .faux--search{
        border: 2px solid $secondary-color;
        border-radius: 25px;
        border-radius: 25px;
        width: 100px;
      }
    }

    h1,
    h3,
    h6,
    p{
      color: $secondary-color;
    }

    p{
      font-size: 0.7em;
    }
    
    img{
      width: 95%;
    }

    .faux--button{
      @extend p;
      background: $primary-gradient;
      color: $tertiary-color;
      border-radius: 50px;
    }

    .faux--selection{
      height: 125px;
      border-radius: 4px;
      background: -webkit-linear-gradient(120deg, rgba(255, 94, 98, 0.4) 0%, rgba(255, 153, 102, 0.4) 100%);
    }
  }

  .codeAL{
    height: 100%;
    display: flex;
  }

  .codeAB{
    display: flex;
    height: 40px;
    margin-top: 10px;

    .activeOption{
      left: 49.45%;
      top: 82.5%;
    }
  }

  #faux--stats{ 
    ul{
      display: grid;
      grid-template-columns: 35% 65%;
      grid-template-rows: auto; 
      column-gap: 10px;
      row-gap: 5px;
    }
    li,
    p{
      font-size: 0.6rem;
      color: $tertiary-color;
    }
  }
}

//Design Sytles
.designAnimation{

  .faux--screen{
    width: 1280px;
    height: 800px;
    border-radius: 35px;
    border-width: 10px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    transform: scaleX(0.3) scaleY(0.3) scaleZ(0.3) rotateX(37deg) rotateY(30deg) rotateZ(-24deg) translate(-70%, -160%) skewX(16deg) skewY(0deg);
    box-shadow: 0 19px 38px rgba(64, 62, 61, 0.15), 0 15px 12px rgba(64, 62, 61, 0);
  }

  .faux--screen#draw{
    background: rgba(255, 255, 255, 0.5);
    transform: scaleX(0.3) scaleY(0.3) scaleZ(0.3) rotateX(37deg) rotateY(30deg) rotateZ(-24deg) translate(-54%, -185%) skewX(16deg) skewY(0deg);
  }

  path#drawnPath{
    stroke-width: 25;
    fill: transparent;
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
  }
}

//Animation Styles
.animateAnimation{
  .faux--screen{
    position: relative;
    background: rgba( 255, 255, 255, 0.35);

    .faux--floor-wrap{
      height: 40%;
      
      .faux--floor{
        display: inline-block;
        border-radius: 3px;
        height: 100%;
        min-width: 50%;
        background:rgba( 255, 255, 255, 0.35);
        border-top: 2px solid rgba(255, 255, 255, 0.18);
      }
    }
  }

  .faux--screen.bd-none{
    backdrop-filter: none;
  }
  
  #faux{
    &--ball{
      opacity: 0;
    }
  }
 
  .faux--screen-wrap{
    width: 542px;
    height: 372px;

    #faux--slide{
      transform: translateX(-100%);
      visibility: hidden;
    }

    .faux{
      &--top{
        height: 10%;
        border-radius: 0px;
        box-shadow: none;
      }

      &--area{
        .faux--screen:first-child{
          height: 198px;
          box-shadow: none;
          backdrop-filter: none;
          background: none;
        }

        .faux--screen:nth-child(2){
          height: 80px;
          border-radius: 0px;
          box-shadow: none;
          overflow: visible;

          
          .col-1,
          .col-2, 
          .col-3,
          .col-6{
            height: 1.10rem;
            background: -webkit-linear-gradient(120deg, rgba(255, 94, 98, 0.4) 0%, rgba(255, 153, 102, 0.4) 100%);
          }
        }

        .faux--scrub{
          width: 1.5rem;
          height: 100px;
          top: -30px;
          z-index: 50;
          i{
            transform: rotate(180deg);
          }
          div{
            transform: translateY(-10px);
            width: 1px;
          }
        }
      }
    }
  }
}

//Project Styles
.project{
  display: block;
  @media only screen and (max-width: 992px){
    display: flex;
  }

  &-container{
    width: 80%;
    min-width: 320px;
    height: 450px;
    border-radius: 10px;
    display: block;
    margin: 0 auto 48px;
    padding-top: 24px;
    @media only screen and (max-width: 992px){
      width: 33%;
      margin: 16px 16px 16px 0px;
      padding-top: 48px;
    }
    &:hover{
      .fadeup{
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }

  h1{
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-content{
    mix-blend-mode: multiply;
    opacity: 0.55;
    font-weight: 700;
    
    p{
      font-size: 1.25em;
      @media only screen and (max-width: 992px){
        font-size: 0.85em;
        width: 75%;
      }
    }

    .fadeup{
      @media only screen and (min-width: 992px){
        transform: translateY(50px);
        opacity: 0;
        transition: transform 1.35s cubic-bezier(0.19, 1, 0.22, 1), opacity 1.35s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
}

#cloche{
  width: 750px;
  transform: translate(-5%, -40%);
  @media only screen and (max-width: 992px){
    width: 100%;
    transform: scale(1.8) translate(-15%, -15%); 
  }
}

#skidsteer{
  width: 600px;
  transform: translate(8%, -38%);
  @media only screen and (max-width: 992px){
    width: 100%;
    transform: scale(1.5) translate(-25%, -19%); 
  }
}

#tractor{
  width: 550px;
  transform: translate(10%, -35%);
  @media only screen and (max-width: 992px){
    width: 100%;
    transform: scale(1.4) translate(-25%, -18%);
  }
}

//About Styles
#about{
  background: $primary-gradient;
  button{
    mix-blend-mode: screen;
    &::before{
      mix-blend-mode: color-burn;
    }
  }
  .rounded-circle{
    max-width: 420px;
    min-width: 300px;
    margin: 0 auto;
  }
}

.transition{
  height: 200px;
  max-width: none;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(0,0,0,0) 95%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(0,0,0,0) 95%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(0,0,0,0) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}
