//Theme Styles
//Color
$primary-color: #333;
$secondary-color: #ff6e63;
$tertiary-color: #FFF;
$quaternary-color: #7F7F7F;

$primary-gradient: -webkit-linear-gradient(120deg, #ff5e62 0%, #ff9966 100%); 
// $primary-gradient: -webkit-linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

//Font
$primary-font-stack: 'Futura-PT', Arial, sans-serif;
$secondary-font-stack: 'Roboto', Arial, sans-serif;
$user-font-stack: 'Fredericka the Great', 'Futura-PT', sans-serif;
$prototyping-font-stack: 'Press Start 2P', 'Futura-PT', sans-serif;
$graphic-font-stack: 'Carter One', 'Futura-PT', sans-serif;
$design-font-stack: 'Bungee Shade', 'Futura-PT', sans-serif;

.primary-font{
  font-family: $primary-font-stack;
}

//Sizes
$size-mc: 12px;
$size-sm: 24px;
$size-lg: 48px;
$size-xl: 64px;

.size-mc{
  font-size: $size-sm;
}
.size-sm{
  font-size: $size-sm;
}
.size-lg{
  font-size: $size-lg;
}
.size-xl{
  font-size: $size-xl;
}

//Border
.border-gradient {
  border: 5px solid transparent;
  background-image: linear-gradient(white, white), $primary-gradient;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

//Box Shadow
$primary-box-shadow:rgba(64, 62, 61, 0.15) 0px 5px 15px 0px;

$primary-text-shadow: 0px 5px 15px rgba(64, 62, 61, 0.15);

.box-shadow-inset{
  -webkit-box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.25);
}

