//Theme Styles
//Color
$primary-color: #333;
$secondary-color: #EEE;
$tertiary-color: #FFF;

$primary-gradient: -webkit-linear-gradient(120deg, #ff5e62 0%, #ff9966 100%); 
// $primary-gradient: -webkit-linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

//Font
$primary-font-stack: 'Futura-PT', sans-serif;
$secondary-font-stack: 'Roboto', sans-serif;

.primary-font{
  font-family: $primary-font-stack;
}

//Sizes
$size-sm: 24px;
$size-lg: 48px;
$size-xl: 64px;

.size-sm{
  font-size: $size-sm;
}
.size-lg{
  font-size: $size-lg;
}
.size-xl{
  font-size: $size-xl;
}

//Border
.border-gradient {
  border: 6px solid transparent;
  background-image: linear-gradient(white, white), $primary-gradient;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

//Box Shadow
$primary-box-shadow:rgba(64, 62, 61, 0.15) 0px 5px 15px 0px;

$primary-text-shadow: 0px 5px 15px rgba(64, 62, 61, 0.15);