.underline--magical {
  background-image: $primary-gradient;
  background-repeat: no-repeat;
  background-size: 100% 0.225em;
  background-position: 0 82%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 100%;
  }
}

.underline-stroke{
  background: url(/img/underline-stroke.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: left bottom 5px;
  padding: 8px 0;
}